3º Trabalho/WCF/Teste/Connected Services/BrokerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HostBroker" />
  <xs:element name="StoreData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HostBroker" minOccurs="0" name="StoreDataResult" nillable="true" type="q1:Key" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HostBroker" minOccurs="0" name="key" nillable="true" type="q2:Key" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveDataResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HostBroker" minOccurs="0" name="key" nillable="true" type="q3:Key" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>